@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-description: #7D7D7D,
  --color-taskOutline: #D8D8D8,
  --color-selectedButton: #359845,
  --color-selectedTask: #E2FFE5

}